<!DOCTYPE HTML>
<html>
<head>
 <title>Blog EMS</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <p>Get your greeting <a href="/greeting">here</a></p>
 <!-- Cabecera -->
 <header>

 <h1>Este es mi Blog </h1>
 </header>
 <!-- Contenido -->
 <section>
<b>Libros</b>
 <p>Un libro (del latín liber, libri) es una obra impresa, manuscrita o pintada en una serie de hojas de papel, pergamino, vitela u otro material, unidas por un lado (es decir, encuadernadas) y protegidas con tapas, también llamadas cubiertas. Un libro puede tratar sobre cualquier tema. Según la definición de la Unesco,[1]​[2]​ un libro debe poseer al menos veinticinco hojas (49 páginas), pues de veinticuatro hojas o menos sería un folleto; y de una hasta cuatro páginas se consideran hojas sueltas (en una o dos hojas).[2</p>
</section>
 <section>
<b>Películas</b>
 <p>Una película es una obra de arte cinematográfica que emite una historia de manera audiovisual, por medio de una secuencia de imágenes y sonidos, y que por lo general se basa en un guion, en la que los personajes pueden o no, ser interpretados por actores.
</p>
 </section>
 <!-- Pie de pagina -->
 <footer>
 (c) Evolución y Mantenimiento del Software
 </footer>
</body>
</html>